#loading{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    
    background-image:url("/images/loading.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color:#FFF;

    opacity:0.85;
    -moz-opacity:0.85;
    filter: alpha(opacity=85);
}