<div class="modal fade" tabindex="-1" role="dialog" id="modal_dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">確認</h4>
            </div>
            <div class="modal-body">
                <p id="modal_message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal_cancel" data-dismiss="modal">CANCEL</button>
                <button type="button" class="btn btn-primary" id="modal_ok">OK</button>
                <button type="button" class="btn btn-default" id="modal_yes">YES</button>
                <button type="button" class="btn btn-default" id="modal_no">NO</button>
            </div>
        </div>
    </div>
</div>
<script>
    var modalConfirm = modalConfirm || {
        show:function(msg,callback){
            $('#modal_cancel').css({display:'inline'});
            $('#modal_ok').css({display:'inline'});
            $('#modal_yes').css({display:'none'});
            $('#modal_no').css({display:'none'});
            if(msg){
                $('#modal_message').text(msg);
            }else{
                $('#modal_message').text('');
            }
            if(callback){
                $('#modal_ok').click(function(){
                    modalConfirm.hide();
                });
                $('#modal_ok').click(callback);
            }else{
                $('#modal_ok').off('click');
            }
            $('#modal_dialog').modal('show');
        },
        hide:function(){
            $('#modal_dialog').modal('hide');
        }
    };
    var modalYesNo = modalYesNo || {
        show:function(msg,callback1,callback2){
            $('#modal_cancel').css({display:'none'});
            $('#modal_ok').css({display:'none'});
            $('#modal_yes').css({display:'inline'});
            $('#modal_no').css({display:'inline'});
            if(msg){
                $('#modal_message').text(msg);
            }else{
                $('#modal_message').text('');
            }
            $('#modal_yes').click(function(){
                modalYesNo.hide();
            });
            $('#modal_no').click(function(){
                modalYesNo.hide();
            });
            if(callback1){
                $('#modal_yes').click(callback1);
            }
            if(callback2){
                $('#modal_no').click(callback2);
            }
            $('#modal_dialog').modal('show');
        },
        hide:function(){
            $('#modal_dialog').modal('hide');
        }
    };
</script>